@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --screen-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

/* Specific screen dimensions */
/* Mobile 768x360 (when 768px is the height and 360px is the width) */
@media (width: 360px) and (height: 768px) and (orientation: portrait) {
  html {
    font-size: 14px;
  }
}

/* Tablet 1024x1366 (when 1024px is the width and 1366px is the height) */
@media (width: 1024px) and (height: 1366px) and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

/* Desktop 1024x768 (when 1024px is the width and 768px is the height) */
@media (width: 1024px) and (height: 768px) and (orientation: landscape) {
  html {
    font-size: 16px;
  }
}

/* Desktop 1280x800 (when 1280px is the width and 800px is the height) */
@media (width: 1280px) and (height: 800px) and (orientation: landscape) {
  html {
    font-size: 16px;
  }
}

